 @font-face {
   font-family: myFont;
   src: url(fonts/Jose.ttf);
 }

 body {
   font-family: myFont, sans-serif;

 }

 .title,
 .colabtitle {
   font-family: myFont;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
 }

 .navbar {
   text-decoration: none;
   font-family: myFont;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   text-decoration: none;
   font-size: small;

 }

 .navbar a {
   text-decoration: none;
 }

 .textbox {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 70px;
 }

 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   margin: 20px 0; 
 }

.servbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:75px;
  }

.servtext {
  margin-right:10%;
  margin-left:10%;
}

.servtit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servimg {
  max-width:400px;
  max-height: 400px;
}

.context {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

 .pic1 {
   max-width: 400px;
   max-height: 400px;
 }

 .photob1 {
   display: flex;
   justify-content: center;
   margin-top: 35px;
 }

 .pic3  {
   max-width: 450px;
   max-height: 450px;
 }


 .photob3,
 .colabpicblc {
   display: flex;
   justify-content: center;
 }

 .photob8 {
   display: flex;
   justify-content: center;
   gap: 10px;

 }

 .photob2,
 .colabpicblc1 {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 30px;
 }

 .pic4 {
   max-width: 550px;
   max-height: 550px;
 }

 .pic5 {
   max-width: 750px;
   max-height: 750px;
 }

 .profpic1,
 .colabpic {
   max-width: 650px;
   max-height: 650px;
 } 

 .profpic2 {
   max-width: 800px;
   max-height: 560px;
 }

 .pic6,
 .colabpic1 {
   max-width: 850px;
   max-height: 850px;
 }

 .pic7 {
   max-width: 300px;
   max-height: 300px;
 }

 .pic8 {
   max-width: 400px;
   max-height: 400px;
 }

 .brooke {
   display: flex;
   justify-content: center;
   gap: 30px;
 }

 .contactpic {
   max-width: 700px;
   max-height: 700px;
 }

 .lightbox {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9999;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
 }

 .lightbox-show {
   opacity: 1;
   pointer-events: auto;
 }

 .lightbox img {
   max-width: 90vw;
   /* Adjust as needed */
   max-height: 90vh;
   /* Adjust as needed */
 }

 .lightbox-close {
   position: absolute;
   top: 10px;
   right: 10px;
   color: #fff;
   font-size: 24px;
   cursor: pointer;
 }